* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #2C2C2C;
  background-color: #ffffffff;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.body__container {
  width: 1030px;
  margin: 45px auto 15px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 20px;
  color: #fff;
}

.header__left {
  display: flex;
  justify-content: flex-start;
  width: 180px;
}

.header__text {
  margin-left: 8px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__logo-text {
  margin: 0;
}

.header__title {
  color: #FFF;
  text-decoration: none;
  font-size: 29px;
  font-weight: 700;
}

.header__undertitle {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.header__logo {
  width: 54px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: space-between;
  width: 220px;
}

.header__links {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.header__left:hover .header__title {
  color: #F26522;
}

.header__left:hover .header__logo {
  color: #F26522;
  background-image: url(../images/logo\ 2.svg);
  background-repeat: no-repeat;
}

.header__left:hover .header__undertitle {
  color: #F26522;
}

.header__links:hover {
  color: #F26522;
}

.main__image {
  position: relative;
  text-decoration: none;
}

.main__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 65px;
  row-gap: 37px;
}

.main__content-img {
  width: 300px;
  height: 220px;
  border: 3px solid;
  background: transparent;
  border-image: linear-gradient(45deg, black, white) 1;
  border-radius: 5px;
}

.main__content-text {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 20px;
}

.hover__body {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 165px;
  width: 300px;
  height: 55px;
  background-color: #F26522;
  visibility: hidden;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.hover__left {
  margin: 7px 16px 12px;
}

.hover__text {
  margin: 0;
  color: #FFF;
  font-size: 10px;
  font-weight: 400;
}

.hover__price {
  margin: 0;
  padding-top: 8px;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.hover__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 16px 14px;
}

.hover__continue {
  margin: 0;
  padding-right: 16px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.main__image:hover .main__content-text {
  color: #F26522;
}

.main__image:hover .hover__body {
  visibility: visible;
  animation: slideIn 0.5s ease;
}

@keyframes slideIn {
  from {
    transform: translateY(20%);
  }

  to {
    transform: translateY(0);
  }
}

.footer__body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  margin: 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
}